*

!__mocks__
!__mocks__/*
!types/**/*
!types
!.babelrc
!.codecov.yml
!.editorconfig
!.eslintrc
!.flowconfig
!.gitignore
!.npmignore
!.travis.yml
!LICENSE
!package.json
!package-lock.json
!readme.md
!src/**/*
!src
